* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px dotted red; */
}

body {
    font-family: "Arial", sans-serif;
    background: #aadfc5;
    color: #333;
    line-height: 1.6;
}

/* HEADER  */

header {
    background: #47946e;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

nav svg {
    width: 2em;
    cursor: pointer;
}

.nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background: #47946e;
    width: 66%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.nav li {
    list-style-type: none;
}

nav svg line,
nav svg path {
    stroke: white; /* Change the stroke color */
}

.nav li a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: block;
    padding: 0.5em;
    transition: all 0.3s ease-in-out;
}

.open-nav {
    transform: translateX(0);
}

.exit {
    width: 2em;
    margin: 1em;
    cursor: pointer;
    margin-left: auto;
}

/* MAIN  */

.content-wrapper {
    margin: 2em auto;
    padding: 1em;
    background: white;
}

h1 {
    color: #47946e;
    font-size: 2.5em;
    margin-bottom: 0.5em;
}

p {
    margin-bottom: 1.5em;
    color: #555;
}

.plant {
    width: 100%;
}

.btn-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 2em 0;
    gap: 1em;
    position: relative;
    z-index: 1;
}

.cta {
    background: #7a4900e6;
    color: white;
    padding: 0.75em 1.5em;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.cta:hover {
    background: #8e5600;
}

.plant-container {
    margin: -8em 0 2em 0;
    text-align: center;
    z-index: -1;
}

.plant {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}
